@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: DejaVu Sans Mono, monospace;
}
.homePage {
	background: #A9A4F5;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {DejaVu Sans Mono, monospace;
	background: #DDA4F5;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #C3A4F5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #A4B9F5;
	margin: 10px;
	padding: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #F5A4EF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
}

a:link {
     color: #000000;
	
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
